name: versioning

on:
  pull_request:
    branches:
      - main
      - release
    types: [closed]
    
env:
  global_updated_version: ""

jobs:
  release_to_main:
    if: ${{ (github.event.pull_request.merged) && (github.head_ref == 'release') && (github.base_ref == 'main') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Split major - minor version numbers and update major version
        run: |
          split=($(echo ${{ vars.MAIN_WORKFLOW_VERSION }} | tr "." "\n"))
          split[0]=`expr ${split[0]} + 1`
          updated_version="${split[0]}.0"
          echo "updated_version=$updated_version" >> $GITHUB_ENV
          echo "Main workflow version : "${{ vars.MAIN_WORKFLOW_VERSION }}

      - name: Update version of workflow run
        run: |
          echo ${{ env.updated_version }}
          curl \
            -X PATCH \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.API_KEY_GITHUB }}"\
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/balamurugan1622003/workflow-versioning-demo/actions/variables/main_workflow_version \
            -d '{"name":"MAIN_WORKFLOW_VERSION","value":"'${{ env.updated_version }}'"}'
  
  others_to_main:
    if: ${{ (github.event.pull_request.merged) && (github.head_ref != 'release') && (github.base_ref == 'main')}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Split major - minor version numbers and update minor version
        run: |
          split=($(echo ${{ vars.MAIN_WORKFLOW_VERSION }} | tr "." "\n"))
          split[1]=`expr ${split[1]} + 1`
          updated_version="${split[0]}.${split[1]}"
          echo "updated_version=$updated_version" >> $GITHUB_ENV
          echo "Main workflow version : "${{ vars.MAIN_WORKFLOW_VERSION }}
  
      - name: Update version of workflow run
        run: |
          echo ${{ env.updated_version }}
          global_updated_version=${{ env.updated_version }}
          curl \
            -X PATCH \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.API_KEY_GITHUB }}"\
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/balamurugan1622003/workflow-versioning-demo/actions/variables/main_workflow_version \
            -d '{"name":"MAIN_WORKFLOW_VERSION","value":"'${{ env.updated_version }}'"}'

  dev_to_release:
    if: ${{ (github.event.pull_request.merged) && (github.head_ref == 'dev') && (github.base_ref == 'release') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Split major - minor version numbers and update major version
        run: |
          split=($(echo ${{ vars.RELEASE_WORKFLOW_VERSION }} | tr "." "\n"))
          split[0]=`expr ${split[0]} + 1`
          updated_version="${split[0]}.0"
          echo "updated_version=$updated_version" >> $GITHUB_ENV
          echo "Release workflow version : "${{ vars.RELEASE_WORKFLOW_VERSION }}
      
      - name: Update version of workflow run
        run: |
          echo ${{ env.updated_version }}
          curl \
            -X PATCH \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.API_KEY_GITHUB }}"\
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/balamurugan1622003/workflow-versioning-demo/actions/variables/release_workflow_version \
            -d '{"name":"RELEASE_WORKFLOW_VERSION","value":"'${{ env.updated_version }}'"}'
  
  others_to_release:
    if: ${{ (github.event.pull_request.merged) && (github.head_ref != 'dev') && (github.base_ref == 'release')}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Split major - minor version numbers and update minor version
        run: |
          split=($(echo ${{ vars.RELEASE_WORKFLOW_VERSION }} | tr "." "\n"))
          split[1]=`expr ${split[1]} + 1`
          updated_version="${split[0]}.${split[1]}"
          echo "updated_version=$updated_version" >> $GITHUB_ENV
          echo "Release workflow version : "${{ vars.RELEASE_WORKFLOW_VERSION }}
  
      - name: Update version of workflow run
        run: |
          echo ${{ env.updated_version }}
          curl \
            -X PATCH \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.API_KEY_GITHUB }}"\
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/balamurugan1622003/workflow-versioning-demo/actions/variables/release_workflow_version \
            -d '{"name":"RELEASE_WORKFLOW_VERSION","value":"'${{ env.updated_version }}'"}'
    
  set_run_name:
    needs: [release_to_main , others_to_main, dev_to_release, others_to_release]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set branch
        run: |
          branch="On branch, ${{ github.base_ref }}"
          version="Version, ${{ env.global_updated_version }}"
          echo $branch
          echo $version
          
          echo "run_name=${branch} : ${version}" >> $GITHUB_ENV
          echo ${{ env.run_name }}
          curl \
            -X PATCH \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.API_KEY_GITHUB }}"\
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/balamurugan1622003/workflow-versioning-demo/actions/variables/run_name \
            -d '{"name":"RUN_NAME","value": "'${{ env.run_name }}'"}'
    

run-name: ${{ vars.run_name }}
